Flask==2.2.5
Flask-Cors==3.0.10
python-dotenv==1.0.0
flask-jwt-extended==4.4.4
supabase==1.0.0
psycopg
werkzeug==2.2.3
flask-bcrypt==1.0.1
python-dateutil==2.8.2

gunicorn==23.0.0
setuptools>=75.0.0
wheel>=0.45.0