@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply overflow-x-hidden;
  }
  
  body {
    @apply pt-[112px];
  }
  
  @media (max-width: 768px) {
    body {
      @apply pt-[76px];
    }
  }
}